@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-accent: rgb(0, 98, 251);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-accent: var(--main-accent);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair-display);
  --font-sans: var(--font-inter);
}
